.header-container{
    width: 100%;
    background-color: lightseagreen;
    text-align: center;

}
.header-container ul li{
    list-style: none;
    display: inline;
    margin: 10px;
    line-height: 30px;
}
ul li a{
    text-decoration: none;
}
.active{
    color: red;
}
